body{
    background-color: #f3f3f3;
}
.logInScreen{
    position:absolute;
    top:0;
    left:0;
    background-color:white ;
    align-items: center;
    width:100%;
    height:100%;
    z-index:2 ;
    justify-content: center;
    display: flex;
}
.logInContent{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.logInForm{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:flex;
}
.logInWorking{
    display:none;
}
    .logInContent img{
        margin-bottom: 94px;
    }
    .logInContent input{
        margin-bottom:15px;
        background: #FFFFFF;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #AEAEAE;
        width: 261px;
        height: 54px;
        align-items: center;
        text-align: center;
        color: #AEAEAE;   
    }
    .logInContent button{          
        width:109px;
        height: 45px;      
        background: #E7E7E7;
        border-radius: 9px;
        border-style: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }
.top{
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
    .top img{
        width:75px;
        margin-left: 8%;
    }
    .top ion-icon{
        margin-right: 8%;

       font-size: 50px;
    }
.content{
    width:100%;
    height:100%;
    padding-top: 106px;
    padding-bottom: 84px;
    box-sizing: border-box;
}
    .content div{
        border-radius: 2px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        margin-bottom: 4px;
        padding:10px;
        width: 100%;
        word-wrap: break-word;
        box-sizing: border-box;
    }
    .status{
        background-color: #DCDCDC;
    }
    .private_message{
        background-color: #FFDEDE;
    }
    .message{
        background-color: white;
    }
    .timeText{
        color: #AAAAAA;
    }
    .nameText{
        font-weight: bold;
    }

.bottom{
    position: fixed;
    bottom:0;
    left:0;
    height:84px;
    width:100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top:15px;
    box-sizing: border-box;
}
    .bottom input{
        margin-left: 5%;
        border-style: none;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        color:black;

    }
    .bottom ion-icon{
        margin-right: 5%;
        font-size: 30px;
        justify-self: right;
    }
    .bottom span{
        margin-left:5%;
        color:#505050;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 300;
        flex-basis:100%;

    }
.sidebar{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.sidebarContent{
    display:flex;
    flex-direction: column;
    width:83%;
    height:100%;
    position:fixed;
    top:0;
    right:-83%;
    transition: right 0.5s;
    background-color: white;
    padding-top: 15px;
    z-index: 2;
    overflow: scroll;
}
form{
    justify-content: left;
    flex-wrap: wrap;
}
    .sidebarContent h1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: block;
        align-items: center;
        text-align: center;
        margin:21px 44px;
    }
    .sidebarContent label{
        margin-left:18px;
        margin-bottom:15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        display:flex;
        width:100%

    }
    .sidebarContent ion-icon{
        font-size:30px;
        margin-right:10px;
    }
    .sidebarContent input {
        display:none;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark{
        visibility: hidden;
        font-size: 15px;
        color:green;
    }
    .sidebarContent input:checked ~ .checkmark {
       visibility:visible;
      }
