body{
    background-color: #f3f3f3;
}
.top{
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
    .top img{
        width:75px;
        margin-left: 8%;
    }
    .top ion-icon{
        margin-right: 8%;

       font-size: 50px;
    }
.content{
    width:100%;
    height:100%;
    padding-top: 106px;
    padding-bottom: 84px;
    box-sizing: border-box;
}
    .content div{
        border-radius: 2px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        margin-bottom: 4px;
        padding:10px;
        width: 100%;
        word-wrap: break-word;
        box-sizing: border-box;
    }
    .status{
        background-color: #DCDCDC;
    }
    .private_message{
        background-color: #FFDEDE;
    }
    .message{
        background-color: white;
    }
    .timeText{
        color: #AAAAAA;
    }
    .nameText{
        font-weight: bold;
    }

.bottom{
    position: fixed;
    bottom:0;
    left:0;
    height:84px;
    width:100%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top:15px;
    box-sizing: border-box;
}
    .bottom input{
        margin-left: 5%;
        border-style: none;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        color:black;

    }
    .bottom ion-icon{
        margin-right: 5%;
        font-size: 30px;
        justify-self: right;
    }
    .bottom span{
        margin-left:5%;
        color:#505050;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 300;
        flex-basis:100%;

    }
.sidebar{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.sidebarContent{
    display:flex;
    flex-direction: column;
    width:83%;
    height:100%;
    position:fixed;
    top:0;
    right:-83%;
    transition: right 0.5s;
    background-color: white;
    z-index: 2;
}